:root {
    --base-color: #333333;
    --background-color: #261C14;
    --text-color-white: #fff;
    --light-color-1: #F2EBDC;
    --light-color-2: #BFB8AA;
    --dark-color-1: #73675A;
    --dark-color-2: #40362A;
}
