@charset "UTF-8";
@import url("color.css");

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(5, 0, 136, 0.5), rgba(5, 0, 136, 0.5)), url(../img/landingBck.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    opacity: 70%;
}
.header h1 {
    text-align: center;
    padding-top: 100px;
    color: white;
    font-size: 150px;
    text-shadow: 10px 10px 10px black;
}

#dropMenu {
    text-align: right;
    padding: 20px 30px 0px 30px;   
}
#dropMenu li {
    font-size: 20px;
    padding: 10px;
}
#dropMenu ul {
    margin-right: 30px;
}
#downMenuBtn {
    background-color: var(--base-color);
}
.img-text {
    color: black;
    font-size: 30px;
    font-style:oblique;
}