@charset "UTF-8";
@import url("color.css");

#inventory {
    width: 100%;
}

#inventory thead {
    padding: 5px;
    text-align: center;
    background-color: var(--dark-color-2);
    color: var(--text-color-white);
}

#deleteColumn {
    width: 70px;
}

/* .table {
    width: 100%;
    border: 1px solid black;
}

.name {
    width: 30%;
}

.deadline {
    width: 20%;
}

.quantity {
    width: 15%;
}

.requirement {
    width: 35%;
}

.odd {
    background-color: white;
    color: black;
}

.even {
    background-color: rgb(219, 229, 255);
    color: black;
} */